{% extends 'base.html' %}{% block title %}Status{% endblock %} {% block content
%}

<h1>Status</h1>

<!-- <a href="/users/{{jobs.phone}}/update">Update Info</a> -->
<h3>Jobs</h3>
<ul>
  {% for job in jobs %}
  <li>{{job.id}}</li>
  {%endfor%}
</ul>
<h3>Current Event</h3>
<ul>
  <li>{{event}}</li>
</ul>
<h3>send status</h3>
<ul>
  {% for status in send_status %}
  <li>{{status}}</li>
  {%endfor%}
</ul>
<ul>
  {% for match in matches %}
  <li>{{match}}</li>
  {%endfor%}
</ul>
<div class="card m-3"></div>
{% endblock %}
